@mixin pad {
    @media (max-width:992px) {
        @content;
    }
}

@mixin phone {
    @media (max-width:767px) {
        @content;
    }
}

@mixin font($size) {
    font-size: $size;
    line-height: 1.5;
}

@mixin menu-hover {
    font-weight: bold;
    background-color: $light;
    color: $primary;
}

@mixin product-color($color) {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: $color;

}