@import "./mixin+variable/variable";
@import "./reset/reset";
@import "./base/base";
@import "./mixin+variable/mixin";
@import "./layout/layout";

// index/home
// banner
.banner {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  
    @include phone {
      background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png");
    }
  
    .container {
      height: 787px;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      color: $secondry;
  
      @include phone {
        padding-top: 144px;
        padding-bottom: 144px;
      }
  
      h3 {
        @include font(36px);
  
        @include phone {
          @include font(16px);
        }
      }
  
      h2 {
        font-weight: bold;
        padding-bottom: 4px;
        @include font(64px);
  
        @include phone {
          padding-bottom: 8px;
          @include font(24px);
        }
      }
  
      input {
        background-color: $primary;
        color: $light;
        border-width: 0px;
        padding: 6px 12px;
        @include font(20px);
        &:hover{
          @include menu-hover;
        }
  
        @include phone {
          padding: 6px 12px 5px 12px;
        }
      }
    }
  }
  
  // feature
  
  .feature {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: $pink;
  
    @include phone {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  
    h2 {
      text-align: center;
      color: $secondry;
      font-weight: bold;
      margin-bottom: 24px;
      @include font(48px);
  
      @include phone {
        @include font(24px);
      }
    }
  
    ul {
      margin-right: -12px;
      margin-left: -12px;
      flex-wrap: wrap;
  
      @include phone {
        margin: 0;
      }
    }
  
    li {
      width: 25%;
      padding-right: 12px;
      padding-left: 12px;
  
      @include pad {
        width: 50%;
      }
  
      @include phone {
        width: 100%;
        padding: 0;
        margin-bottom: 24px;
      }
  
      img {
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
      }
  
      h4 {
        font-weight: bold;
        text-align: center;
        color: $secondry;
        padding-top: 16px;
        padding-bottom: 8px;
        @include font(24px);
      }
  
      p {
        @include font(16px);
      }
    }
  }
  
  // series
  .series {
    padding-top: 80px;
    padding-bottom: 80px;
  
    h2 {
      text-align: center;
      color: $secondry;
      font-weight: bold;
      margin-bottom: 48px;
      @include font(48px);
    }
  
    ul {
      flex-wrap: wrap;
      margin-right: -12px;
      margin-left: -12px;
  
      @include pad {
        flex-direction: column;
        align-items: center;
        margin: 0;
      }
    }
  
    li {
      width: 33.333%;
      padding-right: 12px;
      padding-left: 12px;
  
      @include pad {
        width: 43.75%;
        padding: 0;
        margin-bottom: 24px;
      }
  
      @include phone {
        width: 100%;
      }
  
      img {
        margin-bottom: 8px;
      }
  
      a {
        color: $primary;
        font-weight: bold;
        text-align: center;
        @include font(48px);
  
        &:hover {
          color: $secondry;
        }
      }
  
    }
  }
  
  // co-branding
  
  .co-branding {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  
    @include pad {
      background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg-sm.png");
    }
  
    @include phone {
      padding-top: 40px;
      padding-bottom: 40px;
      background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg-md.png");
    }
  
    h2 {
      color: $light;
      text-align: center;
      margin-bottom: 48px;
      font-weight: bold;
      @include font(48px);
  
      @include phone {
        @include font(24px);
        margin-bottom: 24px;
      }
    }
  
    ul {
      @include pad {
        flex-wrap: wrap;
      }
    }
  
    li {
      width: 50%;
  
      @include pad {
        width: 100%;
        margin-bottom: 24px;
      }
  
      h3 {
        background-color: $light;
        font-weight: bold;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
        @include font(48px);
  
        a {
          color: $primary;
          &:hover{
            color: $secondry;
          }
        }
      }
    }
  }
  
  // recommend
  .recommend {
    padding-top: 80px;
    padding-bottom: 80px;
  
  
    h2 {
      color: $secondry;
      margin-bottom: 48px;
      text-align: center;
      font-weight: bold;
      @include font(48px);
  
      @include phone {
        @include font(24px);
        margin-bottom: 24px;
      }
    }
  
    ul {
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
  
      @include phone {
        gap: 16px;
      }
    }
  
    li {
      box-shadow: 0px 2px 6px #DEE2E6;
      width: 23.53%;
  
      @include pad {
        width: 46%;
      }
  
      @include phone {
        width: 100%;
      }
    }
    img{
      display: block;
    }
    .recommend-text {
      padding: 16px;
      height: 205px;
      flex-direction: column;
      justify-content: space-between;
  
      div {
        p {
          margin-bottom: 8px;
          @include font(16px);
        }
      }
    }
  
    time {
      color: #707070;
      display: block;
      @include font(14px);
    }
  }
  
  // contact
  .contact {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: $pink;
  
    .container {
      max-width: 636px;
      flex-direction: column;
      @include pad {
        max-width: 576px;
      }
      @include phone {
        max-width: 348px;
      }
    }
  
    h2 {
      color: $secondry;
      margin-bottom: 48px;
      font-weight: bold;
      text-align: center;
      @include font(48px);
  
      @include pad {
        margin-bottom: 24px;
      }
  
      @include phone {
        @include font(24px);
      }
    }
  
    p {
      margin-bottom: 24px;
      @include font(20px);
  
      @include pad {
        @include font(16px);
      }
    }
  
  
    form {
      input {
        display: block;
        width: 100%;
        height: 36px;
        &::placeholder{
          @include font(16px);
        }
      }
  
      label {
        margin-bottom: 8px;
      }
  
      p {
        margin-bottom: 16px;
        @include font(16px);
      }
  
      textarea {
        display: block;
        width: 100%;
        height: 136px;
      }
  
      .contact_checkbox {
        margin-bottom: 48px;
        @include phone {
          margin-bottom: 24px;
        }
  
        input {
          display: inline;
          width: 16px;
          height: 16px;
          margin: 0;
          vertical-align: middle;
        }
  
        label {
          vertical-align: middle;
        }
      }
  
      .contact_btn {
        max-width: 416px;
        height: 56px;
        margin: 0 auto;
        color: $light;
        background-color: $primary;
        border-width: 0px;
        padding-top: 16px;
        padding-bottom: 16px;
        &:hover{
          background-color: $light;
          color: $primary;
        }
        @include font(16px);
        @include pad {
          max-width: 336px;
        }
        @include phone {
          max-width: 348px;
        }
      }
  
    }
  
  }